body{
    background-color: #f4f4f4;
    font-family: Arial;
}
.container-login{
    background-color: white;
    width: 350px;
    margin: 50px auto;
    padding: 40px;
    border: none;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#titulo-login{
    color: #444444;
}

input{
    padding: 10px;
    width: 250px;
    border-radius: 4px;
    font-size: 16px;
    border: solid 2px;
    border-color: #cccccc;
    transition: border-color 0.3s;
}

input:focus{
    outline: none;
    border-color: #007bff;
}

#botao-entrar{
    background-color: #007bff;
    color: white;
    padding: 12px;
    width: 274px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
}
#botao-entrar:hover{
    background-color: #0055af;
    transition: background-color 0.3s;
}