.cabecalho{
    color: white;
    text-align: center;
    background-color: rgb(64, 64, 255);
    padding: 40px;
    margin: 0 auto;
}
.conteudo{
    background-color: lightgray;
    width: 800px;
    margin: 20px auto;
    padding: 20px 40px;
}
.rodape{
    background-color: black;
    text-align: center;
    color: white;
    padding: 40px;
    margin: 0 auto;
}