h1 {
    /*color: blue;*/
    color: red;
    font-size: 40px;
}

p {
    /*color: green;*/
    color: gray;
    font-size: 18px;
}


#titulo-principal {
    color: blue;
    font-size: 36px;
}

#titulo-secundario {
    color: orange;
    font-size: 24px;
}